{% extends 'base.html' %}

{% load static %}

{% block content %}
<br><br>
<h1 class="text-center">About</h1>
<br><br>
    <section class="section">
      <div class="about-center section-center">
        <article class="about-img">
          <img src="{% static './images/about.jpg' %}" alt="" />
        </article>
        <article class="about">
          <!-- btn container -->
          <div class="btn-container">
            <button class="btn-light" data-id="history">History</button>
            <button class="btn-light" data-id="vision">Vision</button>
            <button class="btn-light" data-id="goals">Goals</button>
          </div>
          <div class="about-content">
            <!-- single item -->
            <div class="content active" id="history">
              <h4 class="text-center">History</h4>
              <p>
                My name is Natalia and I come from a small Eastern European country, Moldova.
                My passion for creating dresses comes from childhood, when I would look for dresses
                in my mother's wardrobe and cut them out for a new design. My mother was very angry
                with everything I did because I was ruining all her dresses. After a while she started
                to like what I was doing and even wore them. The mother's colleagues at work admired the
                newly made dresses and tried to guess who the designer was. After a few years, my mother
                told them that the designer was my 14-year-old daughter. Everyone was amazed and no one
                could believe it. This is where my tailoring and design career began, making dresses for my mother's colleagues.
                The brand was created in 2014 and is based on handwork and high quality fabrics from Spain and Italy. 
              </p>
            </div>
            <!-- end of single item -->
            <!-- single item -->
            <div class="content" id="vision">
              <h4 class="text-center">Vision</h4>
              <p>
                Style and Design: Our team works with clients to determine the style and design
                elements they want in a dress. This includes the silhouette, neckline, sleeve length,
                hem and any additional details such as pleats, ruffles or embellishments.
                Fabric Selection: We help customers choose the right fabrics for their dresses
                based on their desired style, occasion and personal preference. Different fabrics
                drape and behave differently, so your choice of fabric can greatly affect the final look and fit of the dress.
                Alterations: We offer alteration services to existing dresses to achieve a better fit or update the style.
                Common alterations include inserting or releasing seams, adjusting length, and resizing sleeves.
                Tailoring is important in making a well-enriched dress that enhances a woman's look and confidence. 
                We work with clients to bring their vision to life, ensuring that the dress reflects their personal style and flatters their body shape.    
                
              </p>
            </div>
            <!-- end of single item -->
            <!-- single item -->
            <div class="content" id="goals">
              <h4 class="text-center"> Goals</h4>
              <p>
                Our main goal is to achieve the highest level of tailoring craftsmanship.
                Creating garments that are impeccably constructed, with attention to detail,
                precision in cut and stitching, and superior fit. We continuously improve our skills,  
                staying up to date with the latest techniques and innovations in the field.
                Customer Satisfaction: Creating garments that not only meet but exceed their expectations. 
                We work with customers to understand their requirements, needs and personal styles, providing 
                them with comfortable finished garments that they feel confident in.
                Creativity and innovation: We aim to push the boundaries of design and fashion. By incorporating
                unique and imaginative elements into our work, experimenting with new fabrics, cuts, patterns and embellishments.
                In the near future we will create all the models in 3D and present them to customers
                to avoid the stock of unsold clothes and protect the environment.
              </p>
            </div>
            <!-- end of single item -->
          </div>
        </article>
      </div>
    </section>
    <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  <script>
    const about = document.querySelector(".about");
const btns = document.querySelectorAll(".tab-btn");
const articles = document.querySelectorAll(".content");
about.addEventListener("click", function(e) {
  const id = e.target.dataset.id;
  if (id) {
    // remove selected from other buttons
    btns.forEach(function(btn) {
      btn.classList.remove("active");
    });
    e.target.classList.add("active");
    // hide other articles
    articles.forEach(function(article) {
      article.classList.remove("active");
    });
    const element = document.getElementById(id);
    element.classList.add("active");
  }
});
  </script>
  </body>
</html>

<br><br>

{% endblock %}